# Environment
.env

# Dependencies
node_modules

# Build output
dist

# macOS
.DS_Store

# Generated site content
content/*
!content/.gitkeep

# Generated data
data/*
!data/.gitkeepreports/*.md
!reports/.gitkeep
